
         img {
            pointer-events: none;
		      }
        body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
            background-color: #FFC470; /* Light orange background */
            color: #333; /* Dark text color */
        }
        h1, h2 ,h3 {
            text-align: center;
            color: #8B322C; /* Dark red for headings */
        }
        .language-selector {
            text-align: center;
            margin-bottom: 20px;
        }
        .language-selector label {
            font-weight: bold;
            color: #8B322C; /* Dark red for labels */
        }
        .language-selector select {
            padding: 8px;
            font-size: 16px;
            border: 1px solid #ccc;
            border-radius: 4px;
            background-color: #DD5746; /* Reddish background */
            color: #333; /* Dark text color */
        }
        .song-list {
            list-style-type: none;
            padding: 0;
        }
        .song-item {
            cursor: pointer;
            padding: 10px;
            background-color: #4793AF; /* Light blue background */
            border: 1px solid #ccc;
            margin-bottom: 5px;
            transition: background-color 0.3s ease;
            position: relative; /* Ensure positioning context for absolute icon */
        }
        .song-item:hover {
            background-color: #8B322C; /* Dark red on hover */
            color: #FFC470; /* Light orange text on hover */
        }
        .lyrics-container {
            display: none;
            padding: 10px;
            background-color: #DD5746; /* Reddish background for lyrics */
            border: 1px solid #ccc;
            margin-top: 5px;
            color: #333; /* Dark text color */
        }
        .song-item.active .lyrics-container {
            display: block;
        }
